body * {
    box-sizing: border-box;
}

html {
    --spacing-large: 1.5rem;
    --spacing-medium: 1rem;
    --spacing-small: 0.5rem;
    --spacing-desktop-medium: 0rem;

    --clr-theme: #8AA1C3;
    --clr-theme-dark: #6471AA;
    --clr-theme-darker: #485584;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--clr-theme-darker);
    color: white;
}

@media only screen and (min-width: 600px) {
    html {
        --spacing-large: 2.5rem;
        --spacing-medium: 1.5rem;
        --spacing-small: 1rem;
        --spacing-desktop-medium: 1.5rem;
    }
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/adventuraxolotl-her50.png");
    background-repeat: no-repeat;
    background-position: right 25%;
    background-size: cover;
}

header>h1 {
    margin-bottom: 0;
}

header>h1>img {
    max-height: 5rem;
    max-width: 100%;
    height: auto;

}

nav {
    max-width: 140ch;
    width: 100%;
}

nav>ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-around;
}

nav>ul>li {
    position: relative;
    flex: 1;
    text-align: center;
    font-size: var(--spacing-medium);
    font-weight: bold;
    transition: 1s;
    border: 1px white;
    border-style: solid none;
    margin-bottom: var(--spacing-desktop-medium);
    max-width: 15rem;
}

nav>ul>li::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

nav>ul>li:hover::before {
    opacity: 1;
}

nav>ul>li>a {
    width: 100%;
    display: block;
    padding: var(--spacing-small);

    text-decoration: inherit;
    color: inherit;
}

nav>ul>li>a:visited {
    text-decoration: inherit;
    color: inherit;
}

main {
    margin: auto;
    max-width: 75ch;
    padding: var(--spacing-small);
}

img {
    max-width: 100%;
}